<h2>
  Validaciones reactivas
</h2>
<hr>


<div class="row">
  <div class="col">
    <form action=""
          (ngSubmit)="save()"
          [formGroup]="signUpForm">
      <div class="row mb-3">
        <label for="" class="col-sm3 col-form-label">
          Name
        </label>
        <div class="col-sm-9">
          <input type="text" class="form-control"
                 formControlName="name"
                 placeholder="Username">
          <span class="form-text text-danger"
                *ngIf="notValidField('name')">
              Debe de ser en formato de nombre
            </span>
        </div>
      </div>

      <div class="row mb-3">
        <label for="" class="col-sm3 col-form-label">
          Email
        </label>
        <div class="col-sm-9">
          <input type="text"
                 formControlName="email"
                 class="form-control" placeholder="Email">
          <span class="form-text text-danger"
                *ngIf="notValidField('email')">
              {{emailErrorMsg}}
            </span>
        </div>
      </div>

      <div class="row mb-3">
        <label for="" class="col-sm3 col-form-label">
          Username
        </label>
        <div class="col-sm-9">
          <input type="text"
                 formControlName="username"
                 class="form-control"
                 placeholder="username">
          <span class="form-text text-danger"
                *ngIf="notValidField('username')">
            No debe contener stider
            </span>
        </div>
      </div>

      <div class="row mb-3">
        <label for="" class="col-sm3 col-form-label">
          Contraseña
        </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="password" placeholder="Email">
          <span class="form-text text-danger"
                *ngIf="notValidField('password')">
            Debe de ser una contraseña de más de 6 caracteres
            </span>
        </div>
      </div>

      <div class="row mb-3">
        <label for="" class="col-sm3 col-form-label">
          Confirmación contraseña
        </label>
        <div class="col-sm-9">
          <input type="text" class="form-control"
                 formControlName="confirmationPassword"
                 placeholder="Email">
          <span class="form-text text-danger"
                *ngIf="notValidField('confirmationPassword')">
            Ambas contraseñas deben de ser iguales
            </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-primary" [disabled]="signUpForm.pending" type="submit">
            Crear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>


<h2>Form valid: {{signUpForm.valid}}</h2>

<h2>Form valid: {{signUpForm.controls.username.errors | json}}</h2>
<h2>Form valid: {{signUpForm.controls.name.errors | json}}</h2>




