<h2>
  Template
  <small>Dinámicos</small>
</h2>

<form [formGroup]="dynamicForm">

  <div class="mb-3 row">
    <label for="" class="col-sm-3 col-form-label">
      Nombre
    </label>
    <div class="col-sm-9">
      <input type="text"
             required
             formControlName="name"
             class="form-control"
             placeholder="Nombre de la persona">
      <span class="form-text text-danger"
            *ngIf="validField('name')">
        Este campo es obligatorio
      </span>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="" class="col-sm-3 col-form-label">
      Agregar
    </label>
    <div class="col-sm-9">
      <div class="input-group">
        <input class="form-control"
               name="favoriteName"
               placeholder="Nombre del juego">
        <button class="btn btn-outline-primary"
                (click)="addFavorite('hola')"
                type="button">
          Agregar
        </button>
      </div>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="" class="col-sm-3 col-form-label">
      Favoritos
    </label>
    <div class="col-sm-9" formArrayName="favorites">
      <div class="input-group"
           *ngFor="let favorite of favoritesArray.controls; let i = index">
        <input class="form-control mb-1"
               [formControlName]="i">
        <button class="btn btn-outline-danger"
                (click)="deleteFavorite(i)"
                type="button">
          Eliminar
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <button type="button"
              class="btn btn-primary">
        Guardar
      </button>
    </div>
  </div>

</form>


<div>
  {{dynamicForm.value | json}}
</div>

