<h2>
  Template
  <small>Dinámicos</small>
</h2>

<form (ngSubmit)="save()"
      autocomplete="off"
      #dynamicForm="ngForm">

  <div class="mb-3 row">
    <label for="" class="col-sm-3 col-form-label">
      Nombre
    </label>
    <div class="col-sm-9">
      <input type="text"
             required
             [ngModel]="person.name"
             name="name"
             class="form-control"
             placeholder="Nombre de la persona">
      <span class="form-text text-danger"
            *ngIf="dynamicForm.form.controls.name?.invalid
            && dynamicForm.form.controls.name?.touched">
        Este campo es obligatorio
      </span>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="" class="col-sm-3 col-form-label">
      Agregar
    </label>
    <div class="col-sm-9">
      <div class="input-group">
        <input class="form-control"
               [(ngModel)]="favorite.name"
               name="favoriteName"
               placeholder="Nombre del juego">
        <button class="btn btn-outline-primary"
                (click)="addGame()"
                type="button">
          Agregar
        </button>
      </div>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="" class="col-sm-3 col-form-label">
      Favoritos
    </label>
    <div class="col-sm-9">
      <div class="input-group"
           *ngFor="let item of person.favorites; let i = index">
        <input class="form-control mb-1"
               name="favorite_{{i}}"
               [ngModel]="item.name">
        <button class="btn btn-outline-danger"
                (click)="deleteGame(i)"
                type="button">
          Eliminar
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <button type="button"
              class="btn btn-primary"
              [disabled]="!dynamicForm.form.valid"
              (click)="save()">
        Guardar
      </button>
    </div>
  </div>

</form>
